@font-face {
  font-family: 'Graphik LCG';
  src: local('Graphik LCG Regular'), local('Graphik-LCG-Regular'),
  url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
  url('../fonts/GraphikLCG-Regular.woff') format('woff'),
  url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Graphik LCG', serif;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
  }
.header {
  background-image: url("../img/fone.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FDFDFD;
    text-decoration: none;
    margin-right: 22px;
    padding-right: 8px;
  }
  &__original {
    outline: none;
    padding: 14px 20px;
    border: 2px solid #DF0050;
    border-radius: 25px;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: transparent;
    margin-right: 15px;
    cursor: pointer;
  }
  &__buy {
    outline: none;
    border: none;
    padding: 14px 20px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 18px;
    color: #49301D;
    background-color: #FFFFFF;
    cursor: pointer;
  }
}
.promo {
  margin-top: 160px;
  padding-bottom: 84px;
  &__heading {
    font-weight: 500;
    font-size: 80px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
  }
  &__img {
    position: relative;
    left: 15px;
    top: 2px;
  }
}
.technology {
  margin-top: 50px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__link {
    text-decoration: none;
    width: 416px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #DADCE7 ;
    padding-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #252627;
    margin-bottom: 25px;
  }
  &__img {
  }
}
.medication {
  margin-top: 120px;
  &__heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    color: #1E5AAF;
    margin-bottom: 40px;
  }
  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #797A84;
    margin-bottom: 30px;
  }
}
.advantages {
  margin-top: 120px;
  &__show {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    width: 300px;
    height: 413px;
    background: linear-gradient(180deg, rgba(9, 46, 98, 0.3) 0%, rgba(65, 124, 209, 0.3) 100%), #1E5AAF;
    box-shadow: 0 0 10px rgba(6, 31, 67, 0.3);
    border-radius: 5px;
    position: relative;
  }
  &__heading {
    padding: 35px 0 15px 35px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  &__text {
    padding-left: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(253, 253, 253, 0.5);
  }
  &__img {
    position: absolute;
    left: 255px;
    top: 368px;
  }
}
.info {
  margin-top: 120px;
}
.pagination {
  &__click {
    margin-bottom: 35px;
  }
  &__btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 50px;
  }
  &__info {
    display: flex;
  }
  &__top {
    width: 880px;
    height: 550px;
    background-image: url("../img/p_fone.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 0 0 5px;
  }
  &__bottom{
    border-radius: 0 5px 5px 0;
    padding: 45px 96px 0 45px;
    background: linear-gradient(180deg, rgba(9, 46, 98, 0.3) 0%, rgba(65, 124, 209, 0.3) 100%), #1E5AAF;
  }
  &__heading {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #FDFDFD;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #8EA9D0;
    margin-bottom: 40px;
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FDFDFD;
  }
}
.opinion {
  margin-top: 133px;
  &__heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    color: #252627;
    margin-bottom: 40px;
  }
}
